html,body{
    font-family: "Poppins", serif;
    background-color: #080710;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.section_form {
    width: 450px;
    height: 500px;
    position: relative;
}
.sircel_top{
    position: absolute;
    display: block;
    width: 150px;
    height: 150px;
    background: linear-gradient(90deg, rgba(21,101,192,1) 0%, rgba(3,169,244,1) 100%);
    border-radius: 100px;
    left: -72px;
    top: -70px;
}
.sircel_buttom{
    position: absolute;
    display: block;
    width: 150px;
    height: 150px;
    background: linear-gradient(90deg, rgba(255,111,0,1) 0%, rgba(255,179,0,1) 100%);
    border-radius: 100px;
    right: -21px;
    bottom: -26px;
}

.login_here{
    color: #fff;
    text-align: center;
    font-size: 32px;
}

.section_login{
    width: 350px;
    height: 400px;
    background: rgba(255,255,255,0.13);;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border: 0.01px solid rgb(164 164 164 / 30%);
}

input.input_user {
    background-color: rgba(255, 255, 255, 0.07);
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    margin-top: 5px;
    font-size: 14px;
}
input::placeholder{
    color: #fff;
}
.span_form{
    color: #fff;
    font-size: 16px;
}
.btn_login{
    background-color: #fff;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-top: 20px;
}